<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{titulo}}</h3>
            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" [(ngModel)]="busqueda" class="form-control float-right" placeholder="Busqueda">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @for(categoria of busquedaCategoria(); track categoria.id){
                    <tr>
                        <td>{{categoria.id}}</td>
                        <td>{{categoria.nombre}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="actualizarCategoria(categoria.id)">Actualizar</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="eliminarCategoria(categoria.id)">Eliminar</button>
                        </td>    
                    </tr>
                }
                </tbody>

            </table>

        </div>

        <!-- /.card-body -->
    </div>
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Ingrese Categoria</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form [formGroup]="categoria" (ngSubmit)="onSubmit()">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Nombre</label>
                    <input type="text" [ngClass]="validarCampoNombre() ? 'form-control is-invalid':' form-control is-valid'" id="exampleInputPassword1" placeholder="Nombre" formControlName="nombre" >
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit"  class="btn btn-primary" [disabled]="validarCampor()">Enviar</button>
            </div>
        </form>
    </div> <!-- /.card -->
</div>